<div class="footer">

<p>@Html.ActionLink("Return Home", "Index", "Home") | @Html.ActionLink("List of Artists", "Index", "Artists") | @Html.ActionLink("List of Stages", "Index", "Stages")</p>


</div>